@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


body {
    height: 100vh;
    background-color: var(--body);
    color: var(--body-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;

    transition: 2s all ease;
    overflow: hidden;
    
}

/*Darkmode e Lightmode*/

.toggle {
    width: 30px;
    height: 15px;
    padding: 3px;
  
    background: black;
    border-radius: 15px;
    cursor: pointer;

    display: flex;
    justify-content: flex-start;
}
  
.toggle div {
    width: 15px;
    height: 15px;
  
    background: white;
    border-radius: 50%;

}

.dark-mode {
    background-color: black;
    color: white;
}

/*Style do Rélogio*/

.watch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5)
}

.watch div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.watch span {
    font-weight: bolder;
    font-size: 60px;
}

.watch span.time {
    font-size: 10px;
}

/*Alarme Rélogio*/

input[type=time] {
    border: none;
    border-radius: 1rem;
    color: #2a2c2d;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    height: 30px;
    margin-left: 4.2rem;
    margin-right: -9rem;
    padding-left: 6px;
  }
  

.button {
    font-weight: bold;
    border-radius: 5px;
    border: white solid 2px;
    color: white;
    padding: 4px 8px;
    margin-top: 2rem;

    cursor: pointer;
}



.set-alarm {
    background-color: #000;
}

.clear-alarm {
    background-color: #000;
}