@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


body {
    height: 100vh;
    background-color: var(--body);
    color: var(--body-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;

    transition: 2s all ease;
    overflow: hidden;
    
}


.toggle {
    width: 30px;
    height: 15px;
    padding: 3px;
  
    background: black;
    border-radius: 15px;
    cursor: pointer;

    display: flex;
    justify-content: flex-start;
}
  
.toggle div {
    width: 15px;
    height: 15px;
  
    background: white;
    border-radius: 50%;

}

.dark-mode {
    background-color: black;
    color: white;
}

.watch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5)
}

.watch div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.watch span {
    font-weight: bolder;
    font-size: 60px;
}

.watch span.time {
    font-size: 10px;
}

